name: Deploy App to VPS

permissions:
  contents: read

on:
  push:
    tags:
      - 'v*'

env:
  APP_NAME: z15a
  KUMA_APP: z15a

jobs:
  build:
    runs-on: ubuntu-latest
    container:
      image: node:24-alpine

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Add tar for caching
        run: apk add --no-cache tar

      - name: Set up Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 24
          cache: 'yarn'

      - name: Install dependencies
        run: yarn install

      - name: Run tests
        run: yarn test

      - name: Build frontend and backend
        run: |
          echo "COMMIT_SHA=${{ github.sha }}" >> docker/backend/env
          VITE_COMMIT=${{ github.sha }} yarn build

      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: build-output
          path: |
            packages/frontend/dist
            packages/backend/dist
            docker
            docker-compose.yml
    
  deploy:
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Download artifacts
        uses: actions/download-artifact@v4
        with:
          name: build-output

      - name: Put app in maintenance mode in kuma (NOT IMPLEMENTED)
        if: false
        uses: appleboy/ssh-action@v1
        with:
          host: ${{ secrets.VPS_HOST }}
          port: ${{ secrets.VPS_PORT }}
          username: ${{ secrets.VPS_USER }}
          key: ${{ secrets.VPS_SSH_KEY }}
          passphrase: ${{ secrets.VPS_SSH_PASSPHRASE }}
          script: |
            echo "-- NOT IMPLEMENTED --"
            echo use secrets.KUMA_API_KEY, secrets.KUMA_CONTAINER and env.KUMA_APP (tag value)

      - name: Deploy frontend
        uses: appleboy/scp-action@v1
        with:
          host: ${{ secrets.VPS_HOST }}
          port: ${{ secrets.VPS_PORT }}
          username: ${{ secrets.VPS_USER }}
          key: ${{ secrets.VPS_SSH_KEY }}
          passphrase: ${{ secrets.VPS_SSH_PASSPHRASE }}
          source: "packages/frontend/dist/*"
          target: "/apps/${{ env.APP_NAME }}/frontend"
          strip_components: 3

      - name: Stop backend
        uses: appleboy/ssh-action@v1
        with:
          host: ${{ secrets.VPS_HOST }}
          port: ${{ secrets.VPS_PORT }}
          username: ${{ secrets.VPS_USER }}
          key: ${{ secrets.VPS_SSH_KEY }}
          passphrase: ${{ secrets.VPS_SSH_PASSPHRASE }}
          script: docker stop ${{ env.APP_NAME }}_backend || '${{ env.APP_NAME }}_backend does not exist'

      - name: Deploy backend
        uses: appleboy/scp-action@v1
        with:
          host: ${{ secrets.VPS_HOST }}
          port: ${{ secrets.VPS_PORT }}
          username: ${{ secrets.VPS_USER }}
          key: ${{ secrets.VPS_SSH_KEY }}
          passphrase: ${{ secrets.VPS_SSH_PASSPHRASE }}
          source: "packages/backend/dist/*"
          target: "/apps/${{ env.APP_NAME }}/backend"
          strip_components: 3
          rm: true

      - name: Deploy docker configs
        uses: appleboy/scp-action@v1
        with:
          host: ${{ secrets.VPS_HOST }}
          port: ${{ secrets.VPS_PORT }}
          username: ${{ secrets.VPS_USER }}
          key: ${{ secrets.VPS_SSH_KEY }}
          passphrase: ${{ secrets.VPS_SSH_PASSPHRASE }}
          source: "docker,docker-compose.yml"
          target: "/apps/${{ env.APP_NAME }}"

      - name: Restart Docker containers
        uses: appleboy/ssh-action@v1
        with:
          host: ${{ secrets.VPS_HOST }}
          port: ${{ secrets.VPS_PORT }}
          username: ${{ secrets.VPS_USER }}
          key: ${{ secrets.VPS_SSH_KEY }}
          passphrase: ${{ secrets.VPS_SSH_PASSPHRASE }}
          script: |
            set -e
            touch /apps/data/${{ env.APP_NAME }}_db/db.db
            cd /apps/${{ env.APP_NAME }}
            docker compose stop backend
            docker compose up -d

      - name: Disable maintenance mode in kuma (NOT IMPLEMENTED)
        if: false
        uses: appleboy/ssh-action@v1
        with:
          host: ${{ secrets.VPS_HOST }}
          port: ${{ secrets.VPS_PORT }}
          username: ${{ secrets.VPS_USER }}
          key: ${{ secrets.VPS_SSH_KEY }}
          passphrase: ${{ secrets.VPS_SSH_PASSPHRASE }}
          script: |
            echo "-- NOT IMPLEMENTED --"
            echo use secrets.KUMA_API_KEY, secrets.KUMA_CONTAINER and env.KUMA_APP (tag value)
